.navigation {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 20px;
}
.logo > p {
  font-weight: bolder;
  font-size: xx-large;
  color: white;
}
.navigation > div:nth-child(2) {
  display: flex;
  width: 20%;
  justify-content: space-around;
  gap: 10px;
  background-color: black;
  color: white;
}
.navigation > div:nth-child(2) > div {
  background-color: black;
  align-content: center;
  width: 50px;
  font-size: x-large;
  text-align: center;
}
.back {
  background-color: rgb(136, 128, 128);
  position: absolute;
  color: rgb(10, 10, 10);
  top: 50px;
  right: 200px;
  padding: 5px 10px;
  z-index: 3;
  font-size: medium;
}
.back-cart {
  background-color: rgb(136, 128, 128);
  position: absolute;
  color: rgb(10, 10, 10);
  top: 50px;
  right: 125px;
  padding: 5px 10px;
  z-index: 3;
  font-size: medium;
}
.backperson {
  position: absolute;
  background-color: rgb(136, 128, 128);
  color: rgb(10, 10, 10);
  font-size: medium;
  right: 50px;
  z-index: 4;
  text-align: left;
  padding: 10px;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .navigation {
    padding: 15px;
    align-items: center;
  }

  .logo > p {
    font-size: 22px;
  }

  .navigation > div:nth-child(2) {
    width: auto;
    gap: 15px;
  }

  .navigation > div:nth-child(2) > div {
    width: 40px;
    font-size: 20px;
  }
}
