.detailMain {
  background-color: rgb(41, 41, 41);
  width: 100%;
  display: flex;
  color: rgb(235, 225, 225);
  height: 90vh;
}

.detailMain img {
  width: 20%;
}
.Div1 {
  width: 20%;
  background-color: rgb(26, 24, 24);
  margin: 10px;
  border-radius: 10px;
}
.Div2 {
  width: 40%;
  background-color: rgb(26, 24, 24);
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  align-content: center;
}
.Div2 > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.Div3 {
  background-color: rgb(26, 24, 24);
  width: 40%;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}
.Div3 p {
  padding: 10px;
}
.Div3 > div {
  display: flex;
  align-items: center;
}
.Div3 button {
  border: none;
  padding: 10px 30px;
  font-size: large;
  background-color: red;
  color: white;
  border-radius: 5px;
}
.boxdiv > div {
  /* padding: 10px 20px; */
  border: 1px solid grey;
  margin: 5px 20px;
  border-radius: 5px;
}
.green {
  color: rgb(65, 238, 12);
}
.Div3 h3 {
  text-decoration: line-through;
}
.PreviewImage {
  background-color: black;
  width: 45%;
  height: fit-content;
  margin: 5px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
}
.PreviewImage img {
  width: 100%;
  height: fit-content;
}
.Div1 > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
}
