.swiper {
  height: 85vh;
  padding: 20px;
  background-color: rgb(17, 16, 16);
}
.cards {
  display: flex;
  box-sizing: border-box;
}
.slider {
  box-sizing: border-box;
  width: 100%;
}
.slide-div-1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  color: white;
}
.slide-div-1 h1 {
  font-size: xxx-large;
}
.slide-div-1 > div {
  display: flex;
  gap: 30px;
  font-size: larger;
  color: rgb(110, 109, 109);
}
.slide-div-2 {
  width: 50%;
}
.slide-div-2 > img {
  width: 90%;
  height: 90%;
  padding: 25px;
}
.bg-slider {
  position: absolute;
  width: 50%;
  top: 250px;
  left: 150px;
  z-index: 2;
  color: rgba(255, 255, 255, 0.068);
  box-sizing: border-box;
}
.bg-slider > h1 {
  box-sizing: border-box;
  font-size: 150px;
  opacity: 0.5;
}
.price > p:nth-child(1) {
  font-size: xx-large;
  color: white;
  text-decoration: none;
}
.price > p {
  align-content: center;
  text-decoration: line-through;
}

.slide-div-1 > button {
  background-color: red;
  width: fit-content;
  border: none;
  padding: 10px 20px;
  color: white;
  font-weight: 500;
  margin-top: 10px;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .swiper {
    height: auto;
    padding: 10px;
  }

  .cards {
    flex-direction: column;
  }

  .slide-div-1,
  .slide-div-2 {
    width: 100%;
  }

  .slide-div-1 {
    order: 2;
    padding: 20px;
    text-align: center;
    align-items: center;
  }

  .slide-div-1 h1 {
    font-size: 28px;
  }

  .slide-div-1 > div {
    gap: 15px;
    font-size: 16px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .slide-div-2 {
    display: flex;
    justify-content: center;
  }

  .slide-div-2 > img {
    width: 100%;
    height: auto;
    padding: 10px;
  }

  .bg-slider {
    /* position: static; */
    width: 100%;
    text-align: center;
    margin-top: 10px;
    top: 40px;
    left: 10px;
  }

  .bg-slider > h1 {
    font-size: 60px;
    opacity: 0.4;
  }

  .price > p:nth-child(1) {
    font-size: 22px;
  }

  .slide-div-1 > button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
  }
}
